* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #111;
}

header {
    background: #2A7B47;
    padding: 10px 20px;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Csökkentett magasság */
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Lekerekítés */
    object-fit: cover;
}

.search-cart {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search-cart input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

.search-cart i {
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}

.hamburger-menu {
    list-style: none;
    background: #2A7B47;
    position: absolute;
    right: 20px;
    top: 70px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
}

.hamburger-menu.active {
    display: flex;
}

.hamburger-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s;
}

.hamburger-menu li a:hover {
    color: #D1F1C7;
}

.home-section {
    background: url('https://images.unsplash.com/photo-1705096953495-8ea06879b986?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG5pa2UlMjBhaXIlMjBqb3JkYW4lMjAxfGVufDB8fDB8fHww') no-repeat center center/cover;
    height: 100vh; /* Teljes képernyő */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.home-section h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.cta-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background: #2A7B47;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.cta-button:hover {
    background: #1F5C37;
}
