<div class="container">
    <!-- SneakR középső felirat -->
    <div class="center-title">
      <h1>SneakR</h1>
    </div>
    <!-- Webshop szekció -->
    <div class="section webshop" (click)="navigateTo('webshop')">
      <img src="assets/webshop.jpg" alt="Webshop Background" class="background fade-in">
      <div class="overlay fade-in">
        <img src="assets/webshopicon.png" alt="Webshop Icon" class="icon slide-up">
        <h2 class="text-animate">WEBSHOP</h2>
      </div>
    </div>
    <!-- Resell szekció -->
    <div class="section resell" (click)="navigateTo('resell')">
      <img src="assets/resell.png" alt="Resell Background" class="background fade-in">
      <div class="overlay fade-in">
        <img src="assets/resellicon.png" alt="Resell Icon" class="icon slide-up">
        <h2 class="text-animate">RESELL</h2>
      </div>
    </div>
  </div>
  